html,
body {
  margin: 0;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 5px;
}
.main {
  display: flex;
  flex-flow: column;
  width: 80%;
}
.menu {
  width: 15%;
  background-color: #1a8286;
  border: #f1f1f1 solid;
  border-radius: 10px;
  padding: 5px;
  justify-content: start;
  color: white;
}

.menu li {
  list-style-type: disclosure-closed;
  align-items: center;
}

.menu a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content {
  background-color: white;
  min-height: 300px;
  padding: 20px;
}
.footer {
  background-color: rgb(99, 56, 240);
  min-height: 150px;
}
.photo {
  max-width: 80%;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
}
