html,
body {
  margin: 0;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  width: 20%;
  background-color: #1a8286;
  border: #f1f1f1 solid;
  border-radius: 10px;
  padding: 5px 5px 5px;
  color: white;
}

.menu a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.header {
  display: flex;
}

.content {
  background-color: white;
  min-height: 300px;
  padding: 20px;
}
.footer {
  background-color: rgb(99, 56, 240);
  min-height: 150px;
}
.artHome {
  max-width: 900px;
  max-height: 300px;
  object-fit: contain;
}
